*.a
*.o
Makefile

/Keyboard
/Xinitrc
/Xsession
/Xsession2
/amiwm
/autom4te.cache/
/config.log
/config.status
/config_util
/configure
/executecmd
/gram.c
/gram.h
/kbdlexer.c
/kbdmodule.c
/kbdmodule.h
/lex.c
/ppmtoinfo
/requestchoice
/system.amiwmrc
